div#container {
    position: relative;
    height: 700px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
}


rect.background {
  fill: white;
}

.y.axis path, .axis line {
    fill: none;
    stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.industryType {
font: 16px sans-serif;
font-weight: bold;
}

rect:hover {
    fill-opacity: 1;
  }

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 7px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 1px;
}

.medianLine {
    stroke: black;
    stroke-width: 1.5px;
    stroke-dasharray: .9;
}

text {
  font: 10px sans-serif;
}


.label{
    font-weight: normal;
    font-size: 11px;
}



